name: Deploy subgraph
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy-thegraph-studio-rn:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chain:
          - "arbitrum-one"
          - "avalanche"
          - "base"
          - "bsc"
          - "celo"
          - "fantom"
          - "fuse"
          - "matic"
          - "moonbeam"
          - "near"
          - "optimism"
          - "sepolia"
          - "zksyncera"
    environment:
      name: ${{ matrix.chain }}
      url: ${{ format('https://api.studio.thegraph.com/query/67444/request-payments-{0}/version/latest', matrix.chain) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy
        with:
          chain: ${{ matrix.chain }}
          deploy-key: ${{ secrets.SUBGRAPH_STUDIO_DEPLOY_KEY_RN }}

  deploy-thegraph-studio-rf:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chain:
          - "mainnet"
          - "xdai"
    environment:
      name: ${{ matrix.chain }}
      url: ${{ format('https://api.studio.thegraph.com/query/35843/request-payments-{0}/version/latest', matrix.chain) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy
        with:
          chain: ${{ matrix.chain }}
          deploy-key: ${{ secrets.SUBGRAPH_STUDIO_DEPLOY_KEY_RF }}

  deploy-core:
    runs-on: ubuntu-latest
    environment:
      name: core
      # Use Core DAO Foundation graph node for Core
      url: "https://thegraph.coredao.org/subgraphs/name/requestnetwork/request-payments-core"
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy
        with:
          chain: "core"
          deploy-key: ${{ secrets.THEGRAPH_CORE_TOKEN }}

  deploy-mantle:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chain:
          - "mantle-testnet"
          - "mantle"
    environment:
      name: ${{ matrix.chain }}
      # Use Mantle Foundation graph node for Mantle Testnet
      # Use FuxionX graph node for Mantle
      url: ${{ matrix.chain == 'mantle-testnet' && 'https://graph.testnet.mantle.xyz/subgraphs/name/requestnetwork/request-payments-mantle-testnet' || matrix.chain == 'mantle' && 'https://graph.fusionx.finance/subgraphs/name/requestnetwork/request-payments-mantle' }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy
        with:
          chain: ${{ matrix.chain }}
          deploy-key: ""
