name: Deploy subgraph
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chain: ["arbitrum-one", "avalanche", "bsc", "celo", "fantom", "fuse", "goerli", "mainnet", "mantle-testnet", "mantle", "matic", "xdai", "optimism", "moonbeam", "tombchain"]
    environment:
      name: ${{ matrix.chain }}
      # Use Mantle Foundation graph node for Mantle Testnet
      # Use FuxionX graph node for Mantle
      # Use TheGraph Hosted Service for all other networks
      url: ${{ matrix.chain == 'mantle-testnet' && 'https://graph.testnet.mantle.xyz/subgraphs/name/request-payments-mantle-testnet' || matrix.chain == 'mantle' && 'https://index.graph.fusionx.finance/subgraphs/name/request-payments-mantle' || format('https://thegraph.com/hosted-service/subgraph/requestnetwork/request-payments-{0}', matrix.chain) }}
    steps:
      - uses: actions/checkout@v3
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn
      - run: yarn subgraph deploy ${{ matrix.chain }}
        env:
          TOKEN: ${{ secrets.THEGRAPH_TOKEN }}
          VERSION: ${{ github.sha }}
